{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} — Accueil{% endblock %}


{% block content %}
  <section id="content" class="container">
    <h2 class="sr-only">Accueil</h2>
    <p>Bienvenue sur le portail d'accès.</p>


  </section>
{% endblock %}
