# ============================
# Composer (racine)
# ============================
/vendor/
/composer.lock

# ============================
# Environnements
# ============================
.env
.env.*
!.env.example

# ============================
# Cache & logs (racine)
# ============================
/.cache/
/logs/
/tmp/

# ============================
# IDE / Éditeurs (global)
# ============================
.idea/
.vscode/
nbproject/
*.iml

# ============================
# Systèmes
# ============================
.DS_Store
Thumbs.db
*~

# ============================
# Symfony (situé dans /symfony)
# ============================
symfony/var/
symfony/var/cache/
symfony/var/log/
symfony/vendor/

# Env Symfony
symfony/.env.local
symfony/.env.local.php
symfony/.phpunit.result.cache
symfony/.php-cs-fixer.cache

# ============================
# Node / Webpack Encore
# ============================
symfony/node_modules/
symfony/npm-debug.log
symfony/yarn-debug.log
symfony/yarn-error.log

# Build Webpack Encore
symfony/public/build/

# ============================
# Tailwind / PostCSS / Turbo
# ============================
symfony/.tailwindcache
symfony/.postcss-cache
symfony/.turbo
symfony/tailwind.config.js.backup