{% block header %}
    <div class="d-inline-flex align-items-center gap-2 brand">
        <img src="/assets/ico/logo.svg" style="height: 44px; margin-right:5px;" alt="logo">
        <h1 class="h4 m-0">Portail d'accès DEV / HOMOL</h1>
    </div>
{% endblock %}