/* app.css — responsive & a11y */
html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: table;
    width: 100vw;
}

footer {
    display: table-row;
    height: 100px;
    bottom: 0px;
}

main,
footer {
    padding: 5px;
}

.bt-theme-float {
    float: right;
    margin-right: 10px;
}